.ws-section {

	//display: none;

	padding-top: 50px;

	@media (min-width: 640px) {

		padding-top: 100px;
	}

	background-color: #999;
	overflow: hidden;
	color: #fff;

	a {
		
		&.btn-link {
			border: 1px solid white;
			display: inline-block;
			font-weight: bold;
			font-size: 16px;
			margin: 0 0 40px 20px;
			padding: 15px;
			text-transform: uppercase;

			@media (min-width: 640px) {

				padding: 25px 50px;
				margin-left: 50px;
			}

			@media (min-width: 768px) {

				margin-left: 0;
				padding: 25px;
			}

			@media (min-width: 1024px) {

			}

		}
	}

	h2 {

		color: #fff;
		font-size: 60px;
		font-weight: normal;
		margin-bottom: 0;

		@media (min-width: 640px) {

			font-size: 75px;
		}

	}

	.hr {
		height: 10px;
		max-width: 150px;
		margin-bottom: $mrgn-btm-dflt; //50 in comp
		background-color: #fff;
	}

	.tablet-right > p {

		padding: 0 0 0 25px;

		@media (min-width: 640px) {

			padding: 0 50px;	
		}
	}
	
	.tablet-left > p {
		
		padding: 0 25px 0 0;
		
		@media (min-width: 640px) {
			
			padding:0 50px;
		}
	}
	
	.ws-sec-content {

		clear: both;
		padding-left: 20px;

		@media (min-width: 640px) {

			padding-left: 50px;
		}

		img.ws-sec-img {
		
			margin-bottom: 35px;

			@media (min-width: 640px) {

				margin-bottom: 70px;
			}
		}

		.headshot {
		
			text-align: right;

			img {
	
				display: inline-block;
				margin-bottom: 25px;
				width: 50%;

			}
		}

		.title-container {
			
			text-align: right;

			p {

				float: right; 
				font-size: 16px;
				font-weight: bold;
				line-height: 1.25;
				margin-bottom: 55px;
				width: 45%;

				.title {

					font-weight: bold;
				}
			}
			
			p.smaller {
				font-size:12px;
			}
		}
	}
	
	.ws-sec-content.right {

		padding-left: 0;
		padding-right:20px;

		@media (min-width: 640px) {

			padding-left: 0;
			padding-right: 50px;
		}

		.headshot {
		
			text-align: left;
		}

		.title-container {
			
			text-align: left;

			p {

				float: left;
			}
		}
	}


	@media (min-width: 768px) {

		h2 {
			
			margin-top: 40px;
			position: relative;
			z-index: 1;
		}

		.btn-link {

			padding: 10px;
		}

		.ws-sec-content {

			clear: none;
			float: left;
			width: 55%;
			padding: 0;

			.headshot {
				
				display: inline;
				float: right;

				.title-container p {

					margin-right: 20px;
					vertical-align: bottom;
				}

			}

		}
		
		.ws-sec-content.right {
			
			float: right;
			
			.headshot {
				
				float: left;
				
				.title-container p {
					
					margin-right:0;
					margin-left:20px;
				}
			}
		}

		.tablet-right {

			float: right;
			width: 40%;

			> p {

				padding: 0;
			}

		}
		
		.tablet-left {
			
			float: left;
			width: 40%;
			
			> p {
				
				padding: 0;
			}
		
		}
	}

	@media (min-width: 1280px) {

		padding-bottom: 100px;

		.hr {

			position: relative;
			z-index: 1;
		}

		p {

			margin-bottom: 20px;
		}

		a.btn-link {

			margin-left: 80px;
			padding: 25px;
		}

		.ws-sec-content {

			margin-left: 100px;
			position: relative;
			width: 650px;

			

			.ws-sec-img {

				margin-bottom: 0 !important; //?
			}

			.headshot .title-container p {

				margin-top: 20px;
			}
		}
		
		.ws-sec-content.right {
			margin-left: 0;
			margin-right:100px;
		}

		.tablet-right {
			
			position: absolute;
			width: 380px;
			right: 150px;

			> p {
				
				float: right;
				width: 300px;
			}
		}
		
		.tablet-left {
			
			position: absolute;
			width: 380px;
			left: 150px;
			
			> p {
				
				float: left;
				width: 300px;
			}
		}
	}
}

.who-we-are {
	
	.tablet-left {
		position:relative;
		float:left;
		
		.headshot {
			margin-bottom:25px;
		}
		.headshot .title-container p {
			font-size:12px;
		}
	}
	
	@media (min-width: 1280px) {
	
		.tablet-left p {
			width:100%;
		}
	
		.btn-link {
			margin-left:0 !important;
		}
		.ws-sec-content.right {
			float:right;
			margin-right:0;
		}
	}
	
	.ws-sec-content {
		padding:0 !important;
		float:none;
		.title-container p {
			margin-top:10px;
			text-align:right;
			width:100%;
		}
	}
	
	@media (min-width: 1280px) {
		.ws-sec-content {
			width:600px !important;
			padding:0 !important;
			margin-top:100px !important;
		}
	}
}

#careers .ws-sec-content {
	position:relative;
}
.ws-section .ws-sec-content img.ws-sec-img {
	margin-bottom:0;
}
.work-ad-age {
	width:25%;
	position:relative;
	margin-bottom:35px;
	@media (min-width: 1024px) {
		margin-bottom:70px;
		position:absolute;
		transform:translateY(-50%);
	}
}

.full-width-background {
	position:relative;
	overflow:visible;
}
.full-width-background .background-color {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
}
.work-at-weber.full-width-background .background-color {
	background-color:#35a9ce;
}
.media-decoded.full-width-background .background-color {
	background-color:#794ba9;
}
.who-we-are.full-width-background .background-color {
	background-color:#ed742d;
}